@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>
<br />
<img src="~/img/JoelHiltonHeadshot.jpg" />

<div>
    <a asp-action="Index3">View List</a>
</div>